body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #afd5f0, #2c3e50);
    color: #fff;
    margin: 0;
    padding: 0;
    justify-content: center; /* Center the feedback form horizontally */
    align-items: center; /* Center the feedback form vertically */
    height: 100vh; /* Full height of the viewport */
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    animation: fade-in 1s ease-out;
    transition: background-color 0.3s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-38px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border-color: #3498db;
}

.form-group textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.form-group input[type="submit"] {
    width: 50%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px; /* Reduced padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group input[type="submit"]:hover {
    background-color: #28f215;
    color: #00080d;
    transform: translateY(-2px);
}

.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.form-group textarea:hover
{
    background-color: #fff;
    color: #00080d;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
.submit{
   margin-left: 30%;
}